In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'META',
    'google': 'GOOG',
    'microsoft': 'NFLX',
    'amazon': 'AMZN'
}

def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [35]:
df = get_data(days,tickers)

In [36]:
import altair as alt

In [37]:
companies = ["apple", "facebook"]
data = df.loc[companies]
data

Date,09 September 2022,12 September 2022,13 September 2022,14 September 2022,15 September 2022,16 September 2022,19 September 2022,20 September 2022,21 September 2022,22 September 2022,23 September 2022,26 September 2022,27 September 2022,28 September 2022,29 September 2022,30 September 2022,03 October 2022,04 October 2022,05 October 2022,06 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,157.369995,163.429993,153.839996,155.309998,152.369995,150.699997,154.479996,156.899994,153.720001,152.740005,150.429993,150.770004,151.759995,149.839996,142.479996,138.199997,142.449997,146.100006,146.399994,145.925003
facebook,169.149994,168.960007,153.130005,151.470001,149.550003,146.289993,148.020004,146.089996,142.119995,142.820007,140.410004,136.369995,134.399994,141.610001,136.410004,135.679993,138.610001,140.279999,138.979996,137.130005

In [38]:
data.sort_index()

Date,09 September 2022,12 September 2022,13 September 2022,14 September 2022,15 September 2022,16 September 2022,19 September 2022,20 September 2022,21 September 2022,22 September 2022,23 September 2022,26 September 2022,27 September 2022,28 September 2022,29 September 2022,30 September 2022,03 October 2022,04 October 2022,05 October 2022,06 October 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,157.369995,163.429993,153.839996,155.309998,152.369995,150.699997,154.479996,156.899994,153.720001,152.740005,150.429993,150.770004,151.759995,149.839996,142.479996,138.199997,142.449997,146.100006,146.399994,145.925003
facebook,169.149994,168.960007,153.130005,151.470001,149.550003,146.289993,148.020004,146.089996,142.119995,142.820007,140.410004,136.369995,134.399994,141.610001,136.410004,135.679993,138.610001,140.279999,138.979996,137.130005

In [39]:
data = data.T.reset_index()
data.head()

Name               Date       apple    facebook
0     09 September 2022  157.369995  169.149994
1     12 September 2022  163.429993  168.960007
2     13 September 2022  153.839996  153.130005
3     14 September 2022  155.309998  151.470001
4     15 September 2022  152.369995  149.550003

In [40]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'stock prices(USD)'}
)
data

                 Date      Name  stock prices(USD)
0   09 September 2022     apple         157.369995
1   12 September 2022     apple         163.429993
2   13 September 2022     apple         153.839996
3   14 September 2022     apple         155.309998
4   15 September 2022     apple         152.369995
5   16 September 2022     apple         150.699997
6   19 September 2022     apple         154.479996
7   20 September 2022     apple         156.899994
8   21 September 2022     apple         153.720001
9   22 September 2022     apple         152.740005
10  23 September 2022     apple         150.429993
11  26 September 2022     apple         150.770004
12  27 September 2022     apple         151.759995
13  28 September 2022     apple         149.839996
14  29 September 2022     apple         142.479996
15  30 September 2022     apple         138.199997
16    03 October 2022     apple         142.449997
17    04 October 2022     apple         146.100006
18    05 October 2022     apple         146.399994
19    06 October 2022     apple         145.925003
20  09 September 2022  facebook         169.149994
21  12 September 2022  facebook         168.960007
22  13 September 2022  facebook         153.130005
23  14 September 2022  facebook         151.470001
24  15 September 2022  facebook         149.550003
25  16 September 2022  facebook         146.289993
26  19 September 2022  facebook         148.020004
27  20 September 2022  facebook         146.089996
28  21 September 2022  facebook         142.119995
29  22 September 2022  facebook         142.820007
30  23 September 2022  facebook         140.410004
31  26 September 2022  facebook         136.369995
32  27 September 2022  facebook         134.399994
33  28 September 2022  facebook         141.610001
34  29 September 2022  facebook         136.410004
35  30 September 2022  facebook         135.679993
36    03 October 2022  facebook         138.610001
37    04 October 2022  facebook         140.279999
38    05 October 2022  facebook         138.979996
39    06 October 2022  facebook         137.130005

In [45]:
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("stock prices(USD):Q", stack=None, scale=alt.Scale(domain=[120,180])),
        color='Name:N'
    )
)
chart

alt.Chart(...)